<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a project</title>
    <link rel="stylesheet" href="/media/CreateProject.css">
    <link rel="icon" type="image/png" href="logo for a fundraising.png">
</head>
<body>
<div class="form-container">
    <h2>Create Fundraising Project</h2>
    <form method="post" action="{% url 'addproject'%}" enctype="multipart/form-data" class="project-form">
        {% csrf_token %}
        {{ project_form.as_p }}
        {{ picture_form.as_p}}
        {{ tag_form.as_p }}
        <button type="submit" class="submit-btn">Add Project</button>
    </form>
    <button class="reset-btn" onclick="reset()">Reset</button>
      <script>
  
  function reset() {
    const form = document.querySelector('.project-form');
    form.reset(); 
    window.scrollTo({ top: 0, behavior: 'smooth' }); 
  }

</script>
<a href="{% url 'home' %}">
  <button id="home">Homepage</button>
</a>
  </div>
</body>
</html>