<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="/media/register.css">
  <link rel="icon" type="image/png" href="/media/logo for a fundraising.png">
</head>
<body>
  <div class="container">
    <div class="left-panel">
      <img src="/media/illustration.png" id="image" alt="Team climbing mountain">
      <h2>Our Journey is Big and Great, But it Cannot be Continued Without YOU😊</h2>
      <a href="{% url 'home' %}"> <button id="home">Homepage</button> </a>
     <p class="login-link">Already have an account? <a href="{% url 'login' %}">Login</a></p>

    </div>

    <div class="right-panel">
      <form class="register-form">
        <h2 id="RA">Register Account</h2>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>

        <label for="first-name">First Name</label>
        <input type="text" id="first-name" name="first-name" required>

        <label for="last-name">Last Name</label>
        <input type="text" id="last-name" name="last-name" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <label for="confirm-password">Re-enter Password</label>
        <input type="password" id="confirm-password" name="confirm-password" required>

        <label for="phone">Phone</label>
        <input type="tel" id="phone" name="phone" required>

        <label for="file">Upload Profile Picture</label>
        <input type="file" id="file" name="file">

        <button type="submit" class="register-btn">Register</button>

      </form>
    </div>
  </div>
</body>
</html>