<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="/media/register.css">
  <link rel="icon" type="image/png" href="/media/logo for a fundraising.png">
</head>
<body>
  <div class="container">
    <div class="left-panel">
      <img src="/media/illustration.png" id="image" alt="Team climbing mountain">
      <h2>Our Journey is Big and Great, But it Cannot be Continued Without YOU😊</h2>
      <a href="{% url 'home' %}"> <button id="home">Homepage</button> </a>
     <p class="login-link">Already have an account? <a href="{% url 'login' %}">Login</a></p>

    </div>

    <div class="right-panel">
      <form method="post" action="{% url 'register' %}" class="register-form" enctype="multipart/form-data">
    {% csrf_token %}
        {{ form.as_p }}
    
     <label for="confirm_password">confirm-password:</label>
    <input type="password" id="confirm_password" name="confirm_password" required>

    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <button type="submit" class="register-btn">Register</button>
</form>
      
    </div>
  </div>
</body>
</html>