# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
venv2/
env/

# Database
*.sqlite3

# # Django Stuff
# *.log
# media/
# staticfiles/

# Environment Variables
.env

# VS Code
.vscode/
